USE [master]
GO
/****** Object:  Database [Directory]    Script Date: 25.04.2026 23:59:45 ******/
CREATE DATABASE [Directory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Directory', FILENAME = N'F:\Новая папка (2)\MSSQL17.SQLEXPRESS\MSSQL\DATA\Directory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Directory_log', FILENAME = N'F:\Новая папка (2)\MSSQL17.SQLEXPRESS\MSSQL\DATA\Directory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Directory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Directory]
GO
/****** Object:  Table [dbo].[Адрес]    Script Date: 25.04.2026 23:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Адрес](
	[Id_Адреса] [int] IDENTITY(1,1) NOT NULL,
	[Страна] [nchar](50) NOT NULL,
	[Город] [nchar](50) NOT NULL,
	[Номер_Региона] [nchar](10) NULL,
	[Улица] [nchar](100) NOT NULL,
	[Квартира] [nchar](10) NULL,
 CONSTRAINT [PK_Адрес] PRIMARY KEY CLUSTERED 
(
	[Id_Адреса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Группа_Контактов]    Script Date: 25.04.2026 23:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Группа_Контактов](
	[Id_Группы] [int] IDENTITY(1,1) NOT NULL,
	[Название_Группы] [nchar](50) NOT NULL,
	[Дата_Создания] [date] NOT NULL,
	[Статус_Группы] [nchar](15) NOT NULL,
	[Описание_Группы] [nvarchar](max) NULL,
	[Архивная] [bit] NOT NULL,
 CONSTRAINT [PK_Группа_Контактов] PRIMARY KEY CLUSTERED 
(
	[Id_Группы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Контакт]    Script Date: 25.04.2026 23:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Контакт](
	[Id_Контакта] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [nchar](100) NOT NULL,
	[Фамилия] [nchar](100) NOT NULL,
	[Дата_Добавления] [date] NOT NULL,
	[Id_Адреса] [int] NOT NULL,
	[Id_Организации] [int] NULL,
	[Фото_Контакта] [varbinary](max) NULL,
 CONSTRAINT [PK_Контакт] PRIMARY KEY CLUSTERED 
(
	[Id_Контакта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Контакт_Группа]    Script Date: 25.04.2026 23:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Контакт_Группа](
	[Id_Контакта] [int] NOT NULL,
	[Id_Группы] [int] NOT NULL,
 CONSTRAINT [PK_Контакт_Группа] PRIMARY KEY CLUSTERED 
(
	[Id_Контакта] ASC,
	[Id_Группы] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Место_Работы_Учебы]    Script Date: 25.04.2026 23:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Место_Работы_Учебы](
	[Id_Организации] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nchar](100) NOT NULL,
	[Телефон_Организации] [nchar](20) NULL,
	[Id_Адреса] [int] NOT NULL,
 CONSTRAINT [PK_Место_Работы_Учебы] PRIMARY KEY CLUSTERED 
(
	[Id_Организации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Номер_Телефона]    Script Date: 25.04.2026 23:59:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Номер_Телефона](
	[Id_Телефона] [int] IDENTITY(1,1) NOT NULL,
	[Тип] [nchar](20) NOT NULL,
	[Телефонная_Нумерация] [nchar](20) NOT NULL,
	[Id_Контакта] [int] NOT NULL,
 CONSTRAINT [PK_Номер_Телефона] PRIMARY KEY CLUSTERED 
(
	[Id_Телефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Адрес] ON 

INSERT [dbo].[Адрес] ([Id_Адреса], [Страна], [Город], [Номер_Региона], [Улица], [Квартира]) VALUES (1, N'Россия                                            ', N'Томск                                             ', N'70        ', N'Вершинина                                                                                           ', N'          ')
INSERT [dbo].[Адрес] ([Id_Адреса], [Страна], [Город], [Номер_Региона], [Улица], [Квартира]) VALUES (2, N'Россия                                            ', N'Москва                                            ', N'77        ', N'Московская                                                                                          ', N'          ')
INSERT [dbo].[Адрес] ([Id_Адреса], [Страна], [Город], [Номер_Региона], [Улица], [Квартира]) VALUES (4, N'Россия                                            ', N'Кемерово                                          ', N'42        ', N'Кемеровская                                                                                         ', N'83        ')
SET IDENTITY_INSERT [dbo].[Адрес] OFF
GO
SET IDENTITY_INSERT [dbo].[Группа_Контактов] ON 

INSERT [dbo].[Группа_Контактов] ([Id_Группы], [Название_Группы], [Дата_Создания], [Статус_Группы], [Описание_Группы], [Архивная]) VALUES (5, N'Друзья                                            ', CAST(N'2026-04-13' AS Date), N'Неактивная     ', N'Было да прошло', 1)
INSERT [dbo].[Группа_Контактов] ([Id_Группы], [Название_Группы], [Дата_Создания], [Статус_Группы], [Описание_Группы], [Архивная]) VALUES (6, N'Родственники                                      ', CAST(N'2025-01-01' AS Date), N'Активная       ', N'Балдеж', 0)
INSERT [dbo].[Группа_Контактов] ([Id_Группы], [Название_Группы], [Дата_Создания], [Статус_Группы], [Описание_Группы], [Архивная]) VALUES (7, N'Коллеги                                           ', CAST(N'2026-01-22' AS Date), N'Активная       ', N'Нету', 0)
SET IDENTITY_INSERT [dbo].[Группа_Контактов] OFF
GO
SET IDENTITY_INSERT [dbo].[Контакт] ON 

INSERT [dbo].[Контакт] ([Id_Контакта], [Имя], [Фамилия], [Дата_Добавления], [Id_Адреса], [Id_Организации], [Фото_Контакта]) VALUES (2, N'Николай                                                                                             ', N'Столяров                                                                                            ', CAST(N'2025-01-01' AS Date), 7, 2, NULL)
INSERT [dbo].[Контакт] ([Id_Контакта], [Имя], [Фамилия], [Дата_Добавления], [Id_Адреса], [Id_Организации], [Фото_Контакта]) VALUES (4, N'Наталия                                                                                             ', N'Гнездова                                                                                            ', CAST(N'2026-01-22' AS Date), 8, 3, NULL)
SET IDENTITY_INSERT [dbo].[Контакт] OFF
GO
INSERT [dbo].[Контакт_Группа] ([Id_Контакта], [Id_Группы]) VALUES (1, 5)
INSERT [dbo].[Контакт_Группа] ([Id_Контакта], [Id_Группы]) VALUES (1, 7)
INSERT [dbo].[Контакт_Группа] ([Id_Контакта], [Id_Группы]) VALUES (2, 5)
GO
SET IDENTITY_INSERT [dbo].[Место_Работы_Учебы] ON 

INSERT [dbo].[Место_Работы_Учебы] ([Id_Организации], [Название], [Телефон_Организации], [Id_Адреса]) VALUES (1, N'Завод 1                                                                                             ', N'+71101223475        ', 5)
INSERT [dbo].[Место_Работы_Учебы] ([Id_Организации], [Название], [Телефон_Организации], [Id_Адреса]) VALUES (2, N'Тусур                                                                                               ', N'+73822510530        ', 1)
INSERT [dbo].[Место_Работы_Учебы] ([Id_Организации], [Название], [Телефон_Организации], [Id_Адреса]) VALUES (3, N'Школа №25                                                                                           ', N'Не указан           ', 6)
SET IDENTITY_INSERT [dbo].[Место_Работы_Учебы] OFF
GO
SET IDENTITY_INSERT [dbo].[Номер_Телефона] ON 

INSERT [dbo].[Номер_Телефона] ([Id_Телефона], [Тип], [Телефонная_Нумерация], [Id_Контакта]) VALUES (2, N'Сотовый             ', N'+79998887766        ', 1)
INSERT [dbo].[Номер_Телефона] ([Id_Телефона], [Тип], [Телефонная_Нумерация], [Id_Контакта]) VALUES (3, N'Сотовый             ', N'+1112223344         ', 2)
INSERT [dbo].[Номер_Телефона] ([Id_Телефона], [Тип], [Телефонная_Нумерация], [Id_Контакта]) VALUES (6, N'Рабочий             ', N'+78546327954        ', 4)
SET IDENTITY_INSERT [dbo].[Номер_Телефона] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Телефон_Нумерация]    Script Date: 25.04.2026 23:59:45 ******/
ALTER TABLE [dbo].[Номер_Телефона] ADD  CONSTRAINT [UQ_Телефон_Нумерация] UNIQUE NONCLUSTERED 
(
	[Телефонная_Нумерация] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Адрес] ADD  CONSTRAINT [DF_Адрес_Номер_Региона]  DEFAULT ('Не указан') FOR [Номер_Региона]
GO
ALTER TABLE [dbo].[Адрес] ADD  CONSTRAINT [DF_Адрес_Улица]  DEFAULT ('Не указан') FOR [Улица]
GO
ALTER TABLE [dbo].[Адрес] ADD  CONSTRAINT [DF_Адрес_Квартира]  DEFAULT ('Не указан') FOR [Квартира]
GO
ALTER TABLE [dbo].[Группа_Контактов] ADD  CONSTRAINT [DF_Группа_Контактов_Дата_Создания]  DEFAULT (getdate()) FOR [Дата_Создания]
GO
ALTER TABLE [dbo].[Группа_Контактов] ADD  CONSTRAINT [DF_Группа_Контактов_Статус_Группы]  DEFAULT (N'Активная') FOR [Статус_Группы]
GO
ALTER TABLE [dbo].[Группа_Контактов] ADD  CONSTRAINT [DF_Группа_Контактов_Архивная]  DEFAULT ((0)) FOR [Архивная]
GO
ALTER TABLE [dbo].[Контакт] ADD  CONSTRAINT [DF_Контакт_Дата_Добавления]  DEFAULT (getdate()) FOR [Дата_Добавления]
GO
ALTER TABLE [dbo].[Место_Работы_Учебы] ADD  CONSTRAINT [DF_Место_Работы_Учебы_Телефон_Организации]  DEFAULT ('Не указан') FOR [Телефон_Организации]
GO
ALTER TABLE [dbo].[Контакт]  WITH CHECK ADD  CONSTRAINT [FK_Контакт_Адрес] FOREIGN KEY([Id_Адреса])
REFERENCES [dbo].[Адрес] ([Id_Адреса])
GO
ALTER TABLE [dbo].[Контакт] CHECK CONSTRAINT [FK_Контакт_Адрес]
GO
ALTER TABLE [dbo].[Контакт]  WITH CHECK ADD  CONSTRAINT [FK_Контакт_Место_Работы_Учебы] FOREIGN KEY([Id_Организации])
REFERENCES [dbo].[Место_Работы_Учебы] ([Id_Организации])
GO
ALTER TABLE [dbo].[Контакт] CHECK CONSTRAINT [FK_Контакт_Место_Работы_Учебы]
GO
ALTER TABLE [dbo].[Контакт_Группа]  WITH CHECK ADD  CONSTRAINT [FK_Контакт_Группа_Группа_Контактов] FOREIGN KEY([Id_Группы])
REFERENCES [dbo].[Группа_Контактов] ([Id_Группы])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Контакт_Группа] CHECK CONSTRAINT [FK_Контакт_Группа_Группа_Контактов]
GO
ALTER TABLE [dbo].[Контакт_Группа]  WITH CHECK ADD  CONSTRAINT [FK_Контакт_Группа_Контакт] FOREIGN KEY([Id_Контакта])
REFERENCES [dbo].[Контакт] ([Id_Контакта])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Контакт_Группа] CHECK CONSTRAINT [FK_Контакт_Группа_Контакт]
GO
ALTER TABLE [dbo].[Место_Работы_Учебы]  WITH CHECK ADD  CONSTRAINT [FK_Место_Работы_Учебы_Адрес] FOREIGN KEY([Id_Адреса])
REFERENCES [dbo].[Адрес] ([Id_Адреса])
GO
ALTER TABLE [dbo].[Место_Работы_Учебы] CHECK CONSTRAINT [FK_Место_Работы_Учебы_Адрес]
GO
ALTER TABLE [dbo].[Номер_Телефона]  WITH CHECK ADD  CONSTRAINT [FK_Номер_Телефона_Контакт] FOREIGN KEY([Id_Контакта])
REFERENCES [dbo].[Контакт] ([Id_Контакта])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Номер_Телефона] CHECK CONSTRAINT [FK_Номер_Телефона_Контакт]
GO
ALTER TABLE [dbo].[Адрес]  WITH CHECK ADD  CONSTRAINT [CK_Адрес_Город] CHECK  ((len(ltrim([Город]))>(0)))
GO
ALTER TABLE [dbo].[Адрес] CHECK CONSTRAINT [CK_Адрес_Город]
GO
ALTER TABLE [dbo].[Адрес]  WITH CHECK ADD  CONSTRAINT [CK_Адрес_Страна] CHECK  ((len(ltrim([Страна]))>(0)))
GO
ALTER TABLE [dbo].[Адрес] CHECK CONSTRAINT [CK_Адрес_Страна]
GO
ALTER TABLE [dbo].[Адрес]  WITH CHECK ADD  CONSTRAINT [CK_Адрес_Улица] CHECK  ((len(ltrim([Улица]))>(0)))
GO
ALTER TABLE [dbo].[Адрес] CHECK CONSTRAINT [CK_Адрес_Улица]
GO
ALTER TABLE [dbo].[Группа_Контактов]  WITH CHECK ADD  CONSTRAINT [CK_Группа_Контактов_Название_Группы] CHECK  ((len(ltrim([Название_Группы]))>(0)))
GO
ALTER TABLE [dbo].[Группа_Контактов] CHECK CONSTRAINT [CK_Группа_Контактов_Название_Группы]
GO
ALTER TABLE [dbo].[Группа_Контактов]  WITH CHECK ADD  CONSTRAINT [CK_Группа_Контактов_Статус_Группы] CHECK  (([Статус_Группы]=N'Неактивная' OR [Статус_Группы]=N'Активная'))
GO
ALTER TABLE [dbo].[Группа_Контактов] CHECK CONSTRAINT [CK_Группа_Контактов_Статус_Группы]
GO
ALTER TABLE [dbo].[Контакт]  WITH CHECK ADD  CONSTRAINT [CK_Контакт_Имя] CHECK  ((len(ltrim([Имя]))>(0)))
GO
ALTER TABLE [dbo].[Контакт] CHECK CONSTRAINT [CK_Контакт_Имя]
GO
ALTER TABLE [dbo].[Контакт]  WITH CHECK ADD  CONSTRAINT [CK_Контакт_Фамилия] CHECK  ((len(ltrim([Фамилия]))>(0)))
GO
ALTER TABLE [dbo].[Контакт] CHECK CONSTRAINT [CK_Контакт_Фамилия]
GO
ALTER TABLE [dbo].[Контакт]  WITH CHECK ADD  CONSTRAINT [CK_Контакт_Фото_Контакта] CHECK  ((datalength([Фото_Контакта])<=(2097152)))
GO
ALTER TABLE [dbo].[Контакт] CHECK CONSTRAINT [CK_Контакт_Фото_Контакта]
GO
ALTER TABLE [dbo].[Место_Работы_Учебы]  WITH CHECK ADD  CONSTRAINT [CK_Место_Работы_Учебы_Название] CHECK  ((len(ltrim([Название]))>(0)))
GO
ALTER TABLE [dbo].[Место_Работы_Учебы] CHECK CONSTRAINT [CK_Место_Работы_Учебы_Название]
GO
ALTER TABLE [dbo].[Номер_Телефона]  WITH CHECK ADD  CONSTRAINT [CK_Номер_Телефона_Телефонная_Нумерация] CHECK  ((len(ltrim([Телефонная_Нумерация]))>(0)))
GO
ALTER TABLE [dbo].[Номер_Телефона] CHECK CONSTRAINT [CK_Номер_Телефона_Телефонная_Нумерация]
GO
ALTER TABLE [dbo].[Номер_Телефона]  WITH CHECK ADD  CONSTRAINT [CK_Номер_Телефона_Тип] CHECK  (([Тип]=N'Рабочий' OR [Тип]=N'Сотовый' OR [Тип]=N'Домашний'))
GO
ALTER TABLE [dbo].[Номер_Телефона] CHECK CONSTRAINT [CK_Номер_Телефона_Тип]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Запрещает пустую строку в названии группы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Группа_Контактов', @level2type=N'CONSTRAINT',@level2name=N'CK_Группа_Контактов_Название_Группы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Предоставляет выбор из 2 вариантов для статуса группы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Группа_Контактов', @level2type=N'CONSTRAINT',@level2name=N'CK_Группа_Контактов_Статус_Группы'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Запрещает пустую строку в имени контакта' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Контакт', @level2type=N'CONSTRAINT',@level2name=N'CK_Контакт_Имя'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Запрещает пустую строку в фамилии контака' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Контакт', @level2type=N'CONSTRAINT',@level2name=N'CK_Контакт_Фамилия'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Запрещает пустую строку в названии организации' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Место_Работы_Учебы', @level2type=N'CONSTRAINT',@level2name=N'CK_Место_Работы_Учебы_Название'
GO
USE [master]
GO
